<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/resources/faviconhires.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
            

    </style>



</head>
<body>
    <header>

        
        <h1>Welcome to Huxley.</h1>

    </header>

    
    <div>
            <p> 
                <input type="button" value="Travel Log" onclick="location.href = '/travel-log'">
                <input type="button" value="Register" onclick="location.href = './register'"> 
                <input type="button" value="Login" onclick="location.href = './login'"> 
                <input type="button" value="Destination Map" onclick="location.href = './destination-map'">
                <input type="button" value="Itinerary Planner" onclick="location.href = './itinerary-planner'">  
            </p>

            
            <a href = "https://www.britannica.com/biography/Aldous-Huxley"><img width = "800" src="https://www.brainyquote.com/photos_tr/en/a/aldoushuxley/108145/aldoushuxley5-2x.jpg" ></a>
            
    </div>
    




</body>
</html>

